- content_for :heading do
  | Listing Discount Coupons 
- content_for :title do
  | Discount Coupons 
.panel.panel-default
  .panel-heading
    = link_to 'Add Discount Coupon', new_admin_discount_coupon_path, class: 'btn btn-success btn-sm'
  .panel-body
    table.table.table-responsive.table-striped
      thead
        tr
          th
            | Code
          th
            | Amount
          th
            | Maximum Usages
          th
            | Minimum Order
          th[colspan="3"]
            | Action
      tbody
        - @discount_coupons.each do |discount_coupon|
          tr
            td
              = discount_coupon.code
            td
              - if discount_coupon.applies_as == 'Percent'
                = number_to_percentage discount_coupon.amount
              - else
                = humanized_money_with_symbol discount_coupon.amount
            td
              = discount_coupon.maximum_usages
            td
              = humanized_money_with_symbol discount_coupon.minimum_order_price
            td
              = link_to 'Edit', edit_admin_discount_coupon_path(discount_coupon)
            td
              = link_to 'Destroy', admin_discount_coupon_path(discount_coupon), method: :delete, data: {confirm: 'Are you sure?'}
    = paginate @discount_coupons