- content_for :title do
  |Sign Up

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form, html: {class: ''}) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name
    = f.input :email
    = f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @validatable)
    = f.input :password_confirmation
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
