- content_for :title do
  |Sign Up

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), wrapper: :vertical_form, html: {class: ''}) do |f|
  = f.error_notification
  /== render 'shared/form_errors', object: f.object
  .form-inputs
    = f.input :name, :input_html=>{:'data-validation' => 'required', :'data-validation-error-msg' => 'Please Enter Name'}
    = f.input :email, as: :email, :input_html=>{:'data-validation' => 'email', :'data-validation-error-msg' => 'Given Email-Id Is Not Valid'}
    = f.input :password, hint: ("#{@minimum_password_length} characters minimum" if @validatable), :input_html=>{:'data-validation'=>'length',:'data-validation-length'=>'min8', :'data-validation-error-msg' => 'Password Should Be Min 8 Character'}
    = f.input :password_confirmation, :input_html=>{:'data-validation' => 'confirmation', :'data-validation-confirm' => 'user[password]', :'data-validation-error-msg' => 'Password Not Matched'}
    = f.input :mobile
    = recaptcha_tags
    = f.input :tos, label: 'I agree to the terms of service', as: :boolean, :input_html => {:"data-validation" => "required"}
  .form-actions
    = f.button :submit, "Sign up"
= render "devise/shared/links"
