h2 Welcome to Kaapad!

p We created an account for you. You can login at #{new_user_session_url} with following details:

p
  strong Email:
  span= @user.email
  br
  strong Password:
  span= @password