- content_for :title do
  | Checkout
h1.page-title
  | Checkout
= simple_form_for @order, url: checkout_pay_path do |f|
  .row
    .col-md-6
      h3
        | Billing Details
      = f.simple_fields_for :billing_address do |b|
        = b.input :name, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Name"}
        = b.input :address_1, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Address "}
        = b.input :address_2
        = b.input :city, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct City"}
        = b.input :country, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Country"}
        = b.input :postal_code
      .checkbox
        label
          input#copy-billing[type="checkbox"]
          |  Same as Billing Address
    .col-md-6
      h3
        | Shipping Details
      = f.simple_fields_for :shipping_address do |s|
        = s.input :name, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Name"}
        = s.input :address_1, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Address "}
        = s.input :address_2
        = s.input :city, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct City"}
        = s.input :country, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Country"}
        = s.input :postal_code


      - if @currency == 'USD'
        /label.inline Paypal
        /= radio_button_tag 'payment', 'paypal'

      /label.inline PayU
      /= radio_button_tag 'payment', 'payu'
      
    /.col-md-12.confirm-order-wrap
      /= f.submit 'Confirm Order', class: 'btn btn-primary pull-right payment-methods'
      /= f.submit 'payu', class: 'btn btn-primary pull-right payment-methods'
      /= f.submit 'Paypal', class: 'btn btn-primary pull-right payment-methods'


.col-md-12.confirm-order-wrap.payment.radio-toolbar.pull-right.radio-right
  
    .payment_main_wrapper.payu_method
    input#payu name="paymathods" type="radio" value="" /
    a href="payu" data-method="post" rel="nofollow" 
     label for="payu"  payu

    .payment_main_wrapper
    input#Paypal name="paymathods" type="radio" value="" /
    label for="Paypal"  paypal
    /input.btn.btn-primary type="submit" value="Click Here if you are not automatically redirected" /

    

       
