form.top-padding.bottom-padding#payu_payment_form action="#{@payment_url}" method="post"
  input name="key" type="hidden" value="fp2iWe" /
  input name="hash" type="hidden" value="#{@hash}"
  input name="txnid" type="hidden" value="#{@transaction_id}" /
  input name="amount" type="hidden" value="#{@cart.total}" /
  input name="currency" type="hidden" value="#{@cart.currency}" /
  input name="firstname" type="hidden" value="#{current_user.name}" /
  input name="user_id" type="hidden" value="#{current_user.id}" /
  input name="email" type="hidden" value="#{current_user.email}" /
  input name="phone" type="hidden" value="#{current_user.mobile}" /
  input name="productinfo" type="hidden" value="Kaapad" /
  input name="surl" type="hidden" value="#{checkout_thank_you_payu_url}" /
  input name="furl" type="hidden" value="#{cart_url}" /
  input name="curl" type="hidden" value="#{cart_url}" /
  input name="udf1" type="hidden" value="#{@cart.id}" /
  input name="service_provider" type="hidden" value="payu_paisa" /
  input.btn.btn-primary type="submit" value="Click Here if you are not automatically redirected" /

javascript:
  document.getElementById('payu_payment_form').submit();