.thankyou-block
  .thankyou-content
    h3
       | Thank you for shopping with Kaapad. 
       br   
       | You are welcome to check your order status by logging in,
       br
       | or contact us at 09824020859 if you have any questions.
  .col-lg-offset-2.col-md-offset-1
    
  .thankyou-footer
    .col-lg-offset-1.col-lg-7.col-md-8.col-xs-12.thankyou-message
      |  Loved our products? Recommend us to your friends 
    .col-lg-4.col-md-4.col-xs-12.thankyou-social
      .follow-us
        a href="https://www.facebook.com/"
          i.first.icon.ion-social-facebook
        a href="https://www.twitter.com/"
          i.icon.ion-social-twitter
        a href="https://plus.google.com/"
          i.icon.ion-social-google
        a href="https://www.youtube.com/"
          i.icon.ion-social-youtube
    .clearfix
