.row.mobile-no-margin
  .col-sm-8.col-md-6.col-md-offset-3.col-sm-offset-2
    /h2 User Details

    = simple_form_for(@user, url: checkout_process_user_path, method: :patch, wrapper: :vertical_form, html: {class: ''}) do |f|

      .form-inputs
        = f.input :name, :input_html => {:"data-validation" => "required", :"data-validation-error-msg" => "You have not given correct Name"}
        = f.input :email, :input_html => {:"data-validation" => "email"}
        = f.input :mobile, :input_html => {:"data-validation" => "number, length", :"data-validation-optional" => "true", :"data-validation-length" => "8-16"}
        = recaptcha_tags
        = f.input :tos, label: 'I agree to the terms of service', as: :boolean, :input_html => {:"data-validation" => "required"}

      .form-actions
        = f.button :submit, 'Continue'