

  .container.search-show
  p.seach-result-count
    | You searched for ‘
    - @key
    | ’. Showing 7 results.
  .seach-list
    br
    br
    br

    
  .col-md-9.product-search
    .search-show
      p.seach-result-count
        | You searched for ‘
        span
          | trends
        | ’. Showing 7 results.
    .products
    if (@products)     
      - @products.each_slice(3) do |row|
        .row
          - row.each do |product|
            .col-md-4.col-sm-6
              .product-preview.hover-container
                a href="#{shop_path(product)}"
                  = image_tag product.image_url(:medium)
                .details
                  .action-row.top.clearfix.hover-content
                    .pull-left
                      - if !current_or_null_user.liked? product
                        i.icon.ion-ios-heart-outline
                        = link_to 'Like', likes_path(:id => product.id), method: :post
                      - else
                        i.icon.ion-ios-heart
                        = link_to 'Unlike', like_path(:id => product.id), method: :delete

                    .pull-right.text-right
                      i.icon.ion-ios-cart
                      = link_to 'Add to cart', cart_add_product_path(:product_id => product.id), method: :post
                  h4.price.text-center= humanized_money_with_symbol product.price.exchange_to(@cart.currency)
                  h4.text-center
                    = link_to product.name, shop_path(product)
                  .action-row.text-center.bottom.hover-content
                    i.icon.ion-wand
                    |Customise
    /= paginate @products

    .clearfix
    .blog-result

      else 
        <h2>No products found.</h2>
       

      - content_for :title do
          |Trends

        h4.floral-text.text-uppercase.text-center.page-title
          span Featured

        .trends.row
          - @trends.each do |t|
            .col-md-4
              .trend-preview.hover-container
                a href="#{trend_path(t)}"
                  = image_tag t.image_url(:big)
                  .hover-content
                    h2= t.title
                    p= t.created_at

        h4.floral-text.text-uppercase.text-center.page-title
          span News &amp; Style
        = paginate @trends
  .clearfix


  .blog-result
      h4
        | BLOG RESULTS
      .blog-list
        h4
          | Fashion Trends: What's In For Spring, Summer, Fall, and ...
        p
          | Straight from the fashion week runway—what's new and what's in each season, and the top trends to try now.
      .blog-list
        h4
          | Fall 2014 Shoe Trends: Best Shoes, Booties, and Boots ...
        p
          | This season's most-talked-about shoe is slowly but surely taking over the fashion world, despite its masculine feel and lack of sensuality. The Birkenstock ...
      .blog-list
        h4
          | Fashion Trends: What's In For Spring, Summer, Fall, and ...
        p
          | Straight from the fashion week runway—what's new and what's in each season, and the top trends to try now.
      .blog-list
        h4
          | Fall 2014 Shoe Trends: Best Shoes, Booties, and Boots ...
        p
          | This season's most-talked-about shoe is slowly but surely taking over the fashion world, despite its masculine feel and lack of sensuality. The Birkenstock ...
