- content_for :heading do
  | Listing orders
- content_for :title do
  | Orders
- content_for :panel_heading do
= search_form_for @order_search, url: admin_orders_path do |f|
  .row
    .col-md-12#dategtlt
    .col-md-6
      = f.label :from_date
      = f.search_field :created_at_gt, :class => "datepicker1 form-control"
      = f.label :Status_from_date
      = f.search_field :order_statuses_date_gt, :class => "datepicker3 form-control"
      = f.label :status
      = f.select :status_eq, Hash[(0...Order::STATUSES.size).zip Order::STATUSES].invert, {},{:class => "form-control"}
    .col-md-6
      = f.label :to_date
      = f.search_field :created_at_lt, :class => "datepicker2 form-control"
      = f.label :Status_to_date
      = f.search_field :order_statuses_date_lt, :class => "datepicker4 form-control"
      = f.label :user_id
      = f.search_field :user_id_eq, :label => 'Customer Name', :class => 'form-control'
  = f.submit 'Filter', class: 'btn btn-primary filter'
table.table.table-responsive.table-striped
  thead
    tr
      th
        | ID
      th
        | Customer
      th
        | Total
      th
        | Status
      th
        | Created At
      th
        | Updated At
      th[colspan="3"]
        | Action
  tbody
    - @orders.each do |order|
      tr
        td
          = order.id
        td
          - if order.user.present?
            = link_to order.user.name, admin_user_path(order.user.id)
        td
          = humanized_money_with_symbol order.total_paisas
        td
          = order.status
        td
          = order.created_at
        td
          = order.updated_at
        td
          = link_to 'Shiping Status', admin_order_shipments_path(order)
        td
          = link_to 'Order Status', admin_order_order_statuses_path(order)
        td
          = link_to 'Show', admin_order_path(order)
        td
          = link_to 'Edit', edit_admin_order_path(order)
        td
          = link_to 'Destroy', admin_order_path(order), method: :delete, data: {confirm: 'Are you sure?'}
= paginate @orders
