- content_for :heading do
  | Orders
- content_for :title do
  | Orders
- content_for :panel_heading do

table.table.table-responsive.table-striped
  thead
    tr
      th
        | Name
      th
        | Item Name
      th
        | Quantity
      th
        | Price
      th
        | Details

  tbody
    - @order.line_items.each do |item|
      tr
        td
          = @order.user.name
        td
          = item.line_itemable_type
        td
          = item.quantity
        td
          = humanized_money_with_symbol item.amount_paisas
        td.custom-size-list
          - if item.line_itemable_type == 'Product' && item.product_line_item_option.present?
            p
              strong Size:
              = item.product_line_item_option.standard_size.name
            /p
              /strong Is Gift:
              /= item.product_line_item_option.is_gift
          - elsif item.line_itemable_type == 'Dress' && item.dress_line_item_option.present?
            p
              strong Size:
              = item.dress_line_item_option.standard_size.name
              -if (item.dress_line_item_option.standard_size.name)=='Custom Size'
                .row  
                  div.col-md-6
                    label.custom-size-label BUST/CHEST: 
                    = item.dress_custom_size.bust_chest
                  div.col-md-6
                    label.custom-size-label WAIST:
                    = item.dress_custom_size.waist
                  div.col-md-6
                    label.custom-size-label WAIST TO ANKLE:
                    = item.dress_custom_size.waist_to_ankle
                  div.col-md-6
                    label.custom-size-label HIPS:
                    = item.dress_custom_size.hips
                  div.col-md-6
                   label.custom-size-label SHOULDER:
                   = item.dress_custom_size.shoulder
                  div.col-md-6
                   label.custom-size-label SHOULDER TO NECK:
                   = item.dress_custom_size.shoulder_to_neck
                  div.col-md-6
                   label.custom-size-label AROUND ARMPIT:
                   = item.dress_custom_size.around_armpit
                  div.col-md-6
                   label.custom-size-label AROUND NECK:
                   = item.dress_custom_size.around_neck
                  div.col-md-6
                   label.custom-size-label SLEEVE LENGTH:
                   = item.dress_custom_size.sleev_length
          
            h5.detailcolor Details:
            ul.list-group
              - dress_customisation_details(item).each do |group|
                li.list-group-item-info.list-group-item
                  strong
                    = group[:name]
                  - if group[:value].present?
                    |:&nbsp;
                    span= group[:value]