- content_for :heading do
  | Orders
- content_for :title do
  | Orders
- content_for :panel_heading do

table.table.table-responsive.table-striped
  thead
    tr
      th
        | Name
      th
        | Item Name
      th
        | Quantity
      th
        | Price
      th
        | Details

  tbody
    - @order.line_items.each do |item|
      tr
        td
          = @order.user.name
        td
          = item.line_itemable_type
        td
          = item.quantity
        td
          = humanized_money_with_symbol item.amount_paisas
        td
          - if item.line_itemable_type == 'Product' && item.product_line_item_option.present?
            'Size :
            = item.product_line_item_option.standard_size.name
            br
            'Is Gift :
            = item.product_line_item_option.is_gift
          - elsif item.line_itemable_type == 'Dress' && item.dress_line_item_option.present?
            'Size :
            = item.dress_line_item_option.standard_size.name
        td
          = link_to 'Back', admin_orders_path

