- content_for :title do
  |My Likes

.row
  .col-md-4.col-lg-3.searchwidth= render 'accounts/sidebar'
  .products.home-product.mylikes.col-md-8.col-lg-9.imagewidth
    h4.floral-text.text-uppercase.text-center.page-title
      span My Likes
    - if @likes
        - if @likes.empty?
         .likeempty.text-center
           h4.text-center You have no items in your list
           = link_to 'GO TO SHOP', :shop_index , class: 'btn btn-primary'
        - else 
          - @likes.each_slice(3) do |row|
            .row
              - row.each do |like|
                .col-md-4.col-sm-4
                  .product-preview.hover-container
                    a href="#{shop_path(like.product)}"
                      = image_tag like.product.image_url(:medium)
                    .details
                      h4.text-center
                        = link_to truncate(like.product.name.camelize, :length => 20), shop_path(like.product)
                      h4.price.text-center
                       span= humanized_money_with_symbol like.product.price.exchange_to(@cart.currency)
                      action-row.top.clearfix.hover-content
                        .pull-right.col-md-6.product-wishliat.text-center
                          - if !current_or_null_user.liked? like.product
                            -if !user_signed_in?
                              a.text-center href="#" rel="nofollow" data-toggle="modal" data-target="#login-modal"
                                i.icon.ion-ios-heart-outline
                                |Like
                            -else
                              a.text-center href="#{likes_path(:id =>like.product.id)}" data-method="post" rel="nofollow"
                                i.icon.ion-ios-heart-outline
                                |Like
                          - else
                            a.text-center href="#{like_path(:id => like.product.id)}" data-method="delete" rel="nofollow"
                              i.icon.ion-ios-heart
                              |Unlike

                        .pull-left.text-center.col-md-6.product-addto
                          a.text-center href="#{cart_add_product_path(:product_id => like.product.id)}" data-method="post" rel="nofollow"
                            i.icon.ion-ios-cart
                            |Add to cart  
            = paginate @likes