/  = sort_link @product_search, :price_paisas, "Price in acen & decn "
 
        
- content_for :title do
  |Shop

h1.page-title.text-center.text-uppercase Shop
.row
  .col-md-3
    = search_form_for @product_search, url: shop_index_path do |f|
      .product-filter
        .product-box
          h4 Sort By:
          ul
            li= sort_link(@product_search, :price_paisas, 'Price')
        /.sort-by-product
        /  a href="javascript:void(0)"
        /    span.sort_box Sort By:
        /    |Price: Low - High
        /  span.drop-down-arrow.pull-right
        /    i.fa.fa-angle-down
        /  .sort-by-list.hidden
        /    ul
        /      li
        /        a href=""
        /          |Price: Low - High
        /
        /      li
        /        a href=""
        /          |Price: High - Low
        .product-box
          h4
            |Categories
            span.clear-filters.pull-right Clear

          ul.product-categories
            - Category.all.each do |c|
              li.checkbox.category-lists
                label
                  = f.check_box :category_id_in, {multiple: true}, c.id, nil
                  = c.name

        .product-box
          h4 Price (in #{@currency})
          .product-price-flt
            input#price-range.hidden type="slider" value="0;100000" name="price"

        .product-box
          h4
            |Size
            span.clear-filters.pull-right Clear
          ul.product-size
            - StandardSize.all.each do |s|
              li.checkbox.size-list
                label
                  = f.check_box :standard_sizes_id_in, {multiple: true}, s.id, nil
                  = s.name

        .product-box
          h4
            |Color
            span.clear-filters.pull-right Clear
          ul.product-categories
            - Color.all.each do |c|
              li.checkbox.category-lists
                label
                  = f.check_box :colors_id_in, {multiple: true}, c.id, nil
                  = c.name
        = f.submit 'Filter', class: 'btn btn-default'

  .col-md-9
    .products
      - @products.each_slice(3) do |row|
        .row
          - row.each do |product|
            .col-md-4.col-sm-6
              .product-preview.hover-container
                a href="#{shop_path(product)}"
                  = image_tag product.image_url(:preview)
                .details
                  .action-row.top.clearfix.hover-content
                    .pull-left
                      - if !current_or_null_user.liked? product
                        a href="#{likes_path(:id => product.id)}" data-method="post" rel="nofollow"
                          i.icon.ion-ios-heart-outline
                          |Like
                      - else
                        a href="#{like_path(:id => product.id)}" data-method="delete" rel="nofollow"
                          i.icon.ion-ios-heart
                          |Unlike

                    .pull-right.text-right
                      a href="#{cart_add_product_path(:product_id => product.id)}" data-method="post" rel="nofollow"
                        i.icon.ion-ios-cart
                        |Add to cart
                  h4.price.text-center= humanized_money_with_symbol product.price.exchange_to(@cart.currency)
                  h4.text-center
                    = link_to product.name, shop_path(product)
                  .action-row.text-center.bottom.hover-content
                    i.icon.ion-wand
                    |Customise
    = paginate @products


  
 
      


