- content_for :title
  = @product.name

.row.product
  .col-md-5
    .product-images.sp-wrap
      a href="#{@product.image_url}"
        = image_tag @product.image_url(:big)
      - @product.product_images.each do |image|
        a href="#{image.image_url}"
          = image_tag image.image_url(:big)

  .col-md-7.product-details
    h2.page-title= @product.name
    = form_tag cart_add_product_path
      = hidden_field_tag :product_id, @product.id
      .add-to-cart-block.row
        .col-sm-6.col-md-4
          .form-group
            label for="size" Size
            = collection_select(:product, :id, @product_sizes,
                  :id, :name, {:prompt => 'Select Size'})
          .form-group
            label for="Color" Color
            = collection_select(:product, :id, @product_colors,
                  :id, :name, {:prompt => 'Select Color'})
          .form-group
            label for="quantity" Quantity
            input#quantity.form-control name="quantity" type="number" min="1" value="1"
          .price
            span= humanized_money_with_symbol @product.price.exchange_to(@cart.currency)
      .actions.text-center
        button.info-row.text-uppercase.active type="submit"
          i.icon.ion-ios-cart
          span Add to cart
        - if !current_or_null_user.liked?(@product)
          .info-row.text-uppercase
            a href="#{likes_path(id: @product.id)}" data-method="post"
              i.icon.ion-ios-heart
              span Add to favorite
        - else
          .info-row.text-uppercase
            a href="#{like_path(id: @product.id)}" data-method="delete"
              i.icon.ion-ios-heart
              span Remove from favorites
        .info-row.text-uppercase
          i.icon.ion-edit
          span Customise
    .description
      == @product.description