


- content_for :title do
  = @trend.title

article.trend
  .col-md-4
  	 .trend-image.text-center= image_tag @trend.image_url(:big)
  .col-md-8
  	header
    	h1= @trend.title
    	p.meta
     	 = time_ago_in_words @trend.created_at
     	 | &nbsp; ago
    .trend-content
    	== @trend.body


   
   