- content_for :title do
  |  Gift 
.container-gift
  .col-sm-12
    h1.gift-title.text-center.page-title Gift Certificate
    h3.gift-subtitle.text-center The perfect present for that special someone
  #gift-card.col-sm-5
    = image_tag 'gift-card.png',class:'img-responsive'
  #gift-shippig-info.col-sm-7
    .row.text-center.gift-tabs
      .col-sm-6
        .tab.gift-certificate.active[data-url='e-gift']
          span.tick-icon &#10004
          | E-GIFT CARD
          i.icon.ion-ios-information
      .col-sm-6
        .tab.gift-certificate[data-url='normal-gift']
          span.tick-icon &#10004
          | GIFT CARD
          i.icon.ion-ios-information
    = simple_form_for @gift, url: :gift_cards, wrapper: :vertical_form do |f|
      /= render 'shared/form_errors', object: f.object
      #e-gift.certificate-type.toggle
        h4 Send a gift certificate to your loved one.
        .row
          .col-sm-4.col-xs-6
           
            = f.input :amount, label: 'Amount'+'('+@cart.currency+')', :input_html=>{:'data-validation' => 'required', :'data-validation-error-msg' => 'Please Select Amount'}

          /.col-sm-4.col-xs-6
          /  = #f.input :currency, collection: GiftCard::CURRENCIES, label: 'Currency', :input_html=>{:'data-validation' => 'required', :'data-validation-error-msg' => 'Please Select Currency'}
          .col-sm-4
            .form-group.string.required.gift_card_ordered_for.pull-left
              label.string.required.control-label[for='gift_card_ordered_for']
                abbr[title='required']
                  | *
                |  Quantity
              input#gift_card_ordered_for.string.required.form-control[type='number' min='1' value='1' name='quantity' autocomplete='off' data-validation='required' data-validation-error-msg= 'Please Enter Quantity']
        = f.input :ordered_by, label: 'Your Name', value: current_or_null_user.name ,  :input_html=>{:'data-validation' => 'required',:'data-validation-error-msg' => 'You have not given  correct  Name'}
        = f.input :ordered_for, label: "Recipient's Name", :input_html=>{:'data-validation' => 'required',:'data-validation-error-msg' => 'You have not given  correct Recipient Name'}
        = f.input :email, label: "Recipient's Email", :input_html=>{:'data-validation' => 'email',:'data-validation-error-msg' => 'You have not given  correct Recipient Email'}
         
        = f.input :message,:input_html => { :rows => 10 }
        input.buynow.btn.btn-default[type='submit' value='BUY NOW']
        
    /---- Gift certificates ------    
    = simple_form_for @p_gift, url: :add_gift_cards , wrapper: :vertical_form do |p|
      /= render 'shared/form_errors', object: p.object
      #gift.certificate-type
        .row
          .col-sm-4.col-xs-6
            /= p.input :type, as: :hidden, value: 'P-GIFT CERTIFICATE'
            = p.input :amount, label: 'Amount',:input_html=>{:'data-validation' => 'required',:'data-validation-error-msg' => 'Please Select Amount'}
          /.col-sm-4.col-xs-6
          /  = p.input :currency, collection: GiftCard::CURRENCIES, label: 'Currency',:input_html=>{:'data-validation' => 'required',:'data-validation-error-msg' => 'Please Select Currency'}
          .col-sm-4
            .form-group.string.required.gift_card_ordered_for
              label.string.required.control-label[for='gift_card_ordered_for']
                abbr[title='required']
                  | *
                |  Quantity
              input#gift_card_ordered_for.string.required.form-control[type='number' min='1' value='1' name='quantity' autocomplete='off' data-validation='required' data-validation-error-msg= 'Please Enter Quantity']
        = p.input :ordered_by, label: 'Your Name', value: current_or_null_user.name ,  :input_html=>{:'data-validation' => 'required',:'data-validation-error-msg' => 'You have not given  correct  Name'}
        = p.input :ordered_for, label: "Recipient's Name", :input_html=>{:'data-validation' => 'required',:'data-validation-error-msg' => 'You have not given  correct Recipient Name'}
       
        .form-group.deliver-type
          = p.input :deliver_to, collection: GiftCard::DELIVERABLE_TO_OPTIONS, as: :radio_buttons, checked: 'Me'
          #recipient-info
            = p.simple_fields_for :shipping_address do |a|
              = a.input :name
              = a.input :address_1
              = a.input :address_2
              = a.input :city
              = a.input :country
              = a.input :postal_code
        = p.input :message, :input_html => { :rows => 10 }
        input.buynow.btn.btn-default[type='submit' value='BUY NOW']

    .text-group
      h4 USE ACROSS MULTIPLE ORDERS
      p Our gift certificates can be used across multiple orders, according to the gift amount.
    .text-group
      h4 COMPLETE WITH CREDIT CARD
      p Gift amount not enough to cover the cost of the order? Easly complete the purchase with your credit card.
    .text-group
      h4 SEND IT DIRECTLY TO THE ADDRESS
      p Hard copy certificates can be sent straight to the address. Please allow 1-2 weeks for delivery of hard copy gift certificates - actual delivery time will vary according to your location and local postal services.
    .text-group
      /h4 CORPORATE GIFT IDEAS
      /p
      /  | We also offer corporate gift certificates for promotional incentives or rewards. To learn more&nbsp;
      /  a[href='#']
      /    b click here
