- content_for :title do
  | Welcome

.hero-section
  = image_tag 'big-banner.jpg'
  .content.text-center
    h1.title.text-uppercase
      | Your clothes should
      br
      | reflect your style
    p.subtitle
      | Customize your own Indian wear down
      br
      | to the smallest details.
    a.text-uppercase href="#{customise_index_path}"
      span.btn.btn-lg Start Designing
    a.text-uppercase.browse-collection-btn href="#{shop_index_path}"
      span.btn.btn-lg browse collection

.icon-blocks-container.text-center.row
  .icon-block.col-md-4
    .icon= image_tag 'how-it-works.png'
    h4.text-uppercase Made for All Sizes
    
  .icon-block.col-md-4
    .icon= image_tag 'worldwide-shipping.png'
    h4.text-uppercase Worldwide Shipping
 
  .icon-block.col-md-4
    .icon= image_tag 'free-returns.png'
    h4.text-uppercase 30 day return policy
   

/#promos.carousel.slide data-ride="carousel"
  /ol.carousel-indicators
    /li.active data-slide-to="0" data-target="#promos"
    /li data-slide-to="1" data-target="#promos" 
  /.carousel-inner role="listbox" 
    /.item.active
      /a href=""
        /= image_tag 'collection-banner.jpg'
    /.item
    /  a href=""
    /    = image_tag 'discount-banner.jpg'
  /a.left.carousel-control data-slide="prev" href="#promos" role="button"
  /  span.glyphicon.glyphicon-chevron-left aria-hidden="true"
  /  span.sr-only Previous
  /a.right.carousel-control data-slide="next" href="#promos" role="button"
  /  span.glyphicon.glyphicon-chevron-right aria-hidden="true"
  /  span.sr-only Next

h3.floral-text.page-title.home-text.text-center
  |Selected Styles


.products.home-product
  - @products.each_slice(3) do |row|
    .row
      - row.each do |product|
        .col-md-4.col-sm-4
          .product-preview.hover-container
            a href="#{shop_path(product)}"
              = image_tag product.image_url(:medium)
            .details
              /.action-row.top.clearfix.hover-content
                /.pull-left
                  /- if !current_or_null_user.liked? product
                    /-if !user_signed_in?
                      /a href="#" rel="nofollow" data-toggle="modal" data-target="#login-modal"
                        /i.icon.ion-ios-heart-outline
                        /|Like
                    /-else
                      /a href="#{likes_path(:id => product.id)}" data-method="post" rel="nofollow"
                        /i.icon.ion-ios-heart-outline
                        /|Like
                  /- else
                    /a href="#{like_path(:id => product.id)}" data-method="delete" /rel="nofollow"
                      /i.icon.ion-ios-heart
                      /|Unlike

                /.pull-right.text-right
                  /a href="#{cart_add_product_path(:product_id => product.id)}" data-method="post" rel="nofollow"
                    /i.icon.ion-ios-cart
                    /|Add to cart
              h4.text-center.product-name
                = link_to truncate(product.name.camelize, :length => 20), shop_path(product)

              h4.price.text-center= humanized_money_with_symbol product.price.exchange_to(@cart.currency)

              .action-row.top.clearfix.hover-content
                .pull-right.col-md-6.product-wishliat.text-center
                  - if !current_or_null_user.liked? product
                    -if !user_signed_in?
                      a.text-center href="#" rel="nofollow" data-toggle="modal" data-target="#login-modal"
                        i.icon.ion-ios-heart-outline
                        |Like
                    -else
                      a.text-center href="#{likes_path(:id => product.id)}" data-method="post" rel="nofollow"
                        i.icon.ion-ios-heart-outline
                        |Like
                  - else
                    a.text-center href="#{like_path(:id => product.id)}" data-method="delete" rel="nofollow"
                      i.icon.ion-ios-heart
                      |Unlike

                .pull-left.text-center.col-md-6.product-addto
                  a.text-center href="#{cart_add_product_path(:product_id => product.id)}" data-method="post" rel="nofollow"
                    i.icon.ion-ios-cart
                    |Add to cart
                .col-md-12.product-size.text-center
                  |S, M, L, XL

              

hr
h4.floral-text
  span Trends

.row
  .col-md-7.latest-trends
    .row
      - @trends.each do |t|
        .col-sm-6.trend-teaser
          a href="#{trend_path(t)}"
            .row
              .col-sm-6= image_tag t.image_url(:medium)
              .col-sm-6.text-left
                h4= t.title
                p= truncate(strip_tags(t.body), :length => 200)
  .col-md-5
    .pull-right.news-letter
      h4 NEWSLETTER
      p Please Subscribe to our newsletter for more information
      form#mc-embedded-subscribe-form.validate.has-validation-callback action="//langoor.us10.list-manage.com/subscribe/post?u=69b9be0741cb48e6377aa4119&amp;id=ebf8af59c2" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank"
        input#mce-EMAIL.required.email data-validation="email" data-validation-error-msg-container="#email-error-dialog" name="EMAIL" type="email" value=""
        br
        input.btn.btn-success type="submit" value=("Subscribe →")
        p#email-error-dialog