- content_for :title do
  |My Orders

.row
  .col-md-4.col-lg-3.searchwidth= render 'accounts/sidebar'
  .col-md-8.col-lg-9.imagewidth
    h4.floral-text.text-uppercase.text-center.page-title
      span 
       | My Orders
    - if @orders
      - if @orders.empty?
       .ordersempty.text-center
         h4.text-center You have no items in your list
         = link_to 'Continue Shopping', :shop_index , class: 'btn btn-primary'
      - else 
        table.table.table-striped
          thead
            tr
              th #
              th Placed On
              th Total
              th Status
              th Details
          tbody
            - @orders.each do |o|
              tr
                td= o.id
                td= o.created_at
                td= humanized_money_with_symbol o.total
                td= o.status
                th= link_to 'View', o

        = paginate @orders
