= simple_nested_form_for [:admin, @dress], wrapper: :horizontal_small_form do |f|
  = render 'shared/form_errors', object: f.object
  .form-inputs.row
    .col-md-6
      = f.input :name
      = f.association :category
      = f.input :sku
      = f.input :base_price, wrapper: :horizontal_input_group, hint: 'Other currencies will be calculated automatically' do
        span.input-group-addon
          i.fa.fa-inr
        = f.input_field :base_price, class: "form-control"
      = f.association :standard_sizes, as: :check_boxes
    .col-md-6
      = f.input :sketch, wrapper: :horizontal_file_input
      = f.hidden_field :sketch_cache
      = image_tag @dress.sketch_url(:thumbnail) if @dress.sketch?

      = f.input :angle_0, wrapper: :horizontal_file_input
      = f.hidden_field :angle_0_cache
      = link_to @dress.angle_0_url, @dress.angle_0_url if @dress.angle_0?

      = f.input :angle_90, wrapper: :horizontal_file_input
      = f.hidden_field :angle_90_cache
      = link_to @dress.angle_90_url, @dress.angle_90_url if @dress.angle_90?

      = f.input :angle_180, wrapper: :horizontal_file_input
      = f.hidden_field :angle_180_cache
      = link_to @dress.angle_180_url, @dress.angle_180_url if @dress.angle_180?

      = f.input :angle_270, wrapper: :horizontal_file_input
      = f.hidden_field :angle_270_cache
      = link_to @dress.angle_270_url, @dress.angle_270_url if @dress.angle_270?

      /= f.association :custom_sizes, as: :check_boxes

  /= f.simple_fields_for :fabric_parts_groups do |fp|
  /  = render 'fabrics', f: fp
  /= f.link_to_add 'Add Fabric Group', :fabric_parts_groups, class: 'btn btn-success'
  /hr
  /= f.simple_fields_for :styles_groups do |fp|
  /  = render 'styles', f: fp
  /= f.link_to_add 'Add Style Group', :styles_groups, class: 'btn btn-success'
  /hr
  /= f.simple_fields_for :embellishment_parts_groups do |e|
  /  = render 'embellishments', f: e
  /= f.link_to_add 'Add Embellishment Group', :embellishment_parts_groups, class: 'btn btn-success'
  /hr
  .form-actions
    = f.button :submit