= simple_nested_form_for [:admin, @dress, @styles_group], wrapper: :horizontal_small_form do |f|
  = render 'shared/form_errors', object: f.object
  .panel.panel-default
    .panel-heading Style Group Details
    .panel-body
      .row
        .col-md-6= f.input :name
        .col-md-6= f.input :svg_group_id

      = f.simple_fields_for :styles do |p|
        .panel.panel-default
          .panel-heading Part Details
          .panel-body
            .row
              .col-md-6= p.input :name
              .col-md-6= p.input :svg_path_id
              .col-md-6= p.input :image
                       = image_tag p.object.image_url if p.object.image?

      = f.link_to_add 'Add Style', :styles, class: 'btn btn-success'
      = f.link_to_remove 'Remove Style Group', class: 'btn btn-danger pull-right'
  .form-actions
    = f.button :submit