.additional-images {
  .fields {
    display: inline-block;
    vertical-align: top;
  }
}

.admin-report{
    .nav
    {
    	li
    	{
    		&.active a
    		{
    		  border-bottom-color:#ddd;
    		}
    	}
    }
	.tab-content
	{
		padding:15px;
	    border-left: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
        border-bottom: 1px solid #ddd !important;
	}
}
.custom-size-label{
  float:left;
  width:auto;
  font-weight:bold;
  font-size:12px;
}
.custom-size-list{
    width:350px;
}
.detailcolor{
  font-weight:bold;
}