h2 Welcome to Kaapad!

p Your payment is done successfully.

p
  strong Your Order id:
  span= @order.id
p
  strong Your Email:
  span= @user.email
p
  strong Your Total:
  span
	="#{@order.total_paisas/100} #{@order.currency}"
p
  Thank You for Shopping with us!. Have a great day!
  br
  For furthur queries, please contact: 
  span 
   support@kaapad.com
  

