= simple_form_for [:admin, @order, @shipment], wrapper: :vertical_form do |f|
  .row
    .col-md-6= f.input :tracking_url
    .col-md-6= f.input :status, collection: Shipment::STATUSES
  = f.submit 'Save', class: 'btn btn-primary'