- content_for :heading do
  | Listing Reports
- content_for :title do
  | Reports

.admin-report
  /! Nav tabs
  ul.nav.nav-tabs role="tablist" 
    li.active role="presentation" 
      a aria-controls="tab1" data-toggle="tab" href="#tab1" role="tab"  tab1

    li role="presentation" 
      a aria-controls="tab2" data-toggle="tab" href="#tab2" role="tab"  tab2

    li role="presentation" 
      a aria-controls="tab3" data-toggle="tab" href="#tab3" role="tab"  tab3

    li role="presentation" 
      a aria-controls="tab4" data-toggle="tab" href="#tab4" role="tab"  tab4

    li role="presentation" 
      a aria-controls="tab5" data-toggle="tab" href="#tab5" role="tab"  tab5

    li role="presentation" 
      a aria-controls="tab6" data-toggle="tab" href="#tab6" role="tab"  tab6

    li role="presentation" 
      a aria-controls="tab7" data-toggle="tab" href="#tab7" role="tab"  tab7

    li role="presentation" 
      a aria-controls="tab8" data-toggle="tab" href="#tab8" role="tab"  tab8

    li role="presentation" 
      a aria-controls="tab9" data-toggle="tab" href="#tab9" role="tab"  tab9

    li role="presentation" 
      a aria-controls="tab10" data-toggle="tab" href="#tab10" role="tab"  tab10

  /! Tab panes
  .tab-content
    #tab1.tab-pane.active role="tabpanel"  tab1
    #tab2.tab-pane role="tabpanel"  tab2
    #tab3.tab-pane role="tabpanel"  tab3
    #tab4.tab-pane role="tabpanel"  tab4
    #tab5.tab-pane role="tabpanel"  tab5
    #tab6.tab-pane role="tabpanel"  tab6
    #tab7.tab-pane role="tabpanel"  tab7
    #tab8.tab-pane role="tabpanel"  tab8
    #tab9.tab-pane role="tabpanel"  tab9
    #tab10.tab-pane role="tabpanel"  tab10



