- content_for :heading do
  | Listing Product Colors
- content_for :title do
  | Product Colors
- content_for :panel_heading do
  = link_to 'Add Color', new_admin_color_path, class: 'btn btn-success btn-sm'

table.table.table-responsive.table-striped
  thead
    tr
      th Image
      th Title
      th[colspan="2"] Action
  tbody
    - @colors.each do |color|
      tr
        td= image_tag color.image_url(:thumbnail)
        td= color.name
        td= link_to 'Edit', edit_admin_color_path(color)
        td= link_to 'Destroy', admin_color_path(color), method: :delete, data: {confirm: 'Are you sure?'}
= paginate @colors
