.gift-banner {
  margin: $line-height-computed 0;
}

.overview-details table {
  margin-top: $line-height-computed;
}
.mylikes{
       border-top: 0!important;
}
.user_gender {
  .radio {
    display: inline-block;
    margin: 0 1em 0 0;
  }
}
#coupon_code{
  width:204px;
}