.gift-banner {
  margin: $line-height-computed 0;
}

.overview-details table {
  margin-top: $line-height-computed;
}

.user_gender {
  .radio {
    display: inline-block;
    margin: 0 1em 0 0;
  }
}