.payu-right{
	float:right;
}

.radio-right{
	    text-align: right;
}
.product-wrap
{
	margin-bottom:50px;
	.product-block {
	    float: left;
	    width: 100%;
	    padding-top: 30px;
	    padding-bottom: 30px;
	    border-top: 1px solid #363636;
	    position: relative;

	    .product-img-block {
	    width: 100px;
	    height: 140px;
	    float: left;
	    border: 1px solid #fafafa;
		}

		
		.product-info-block {
		    width: calc(100% - 115px);
		    float: left;
		}
	}
	.no-left-padding
	{
		padding-left:0px
	}
	.no-right-padding
	{
		padding-right:0px
	}

	.no-padding
	{
		padding:0px;
	}

	.actual-price {
	    text-decoration: line-through;
	    font-size: 16px;
	}
	.after-discount {
	    font-size: 20px;
	}
	.product-other-details span {
    text-transform: uppercase;
    margin-right: 8px;
    float: left;
    font-size:12px;
}
.product-other-details 
{
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 42px;
span label {
    float: left;
    text-transform: uppercase;
    margin-right: 5px;
    margin-top: 11px;
    font-weight:normal;
    }
}

.input-append {
   
    position: relative;
    width:55px;
    float: left;
    margin-right: 10px;
}
.product-other-details span select {
    text-transform: uppercase;
    border: 1px solid #808080;
  
    padding-right: 10px;
    padding-left: 5px;
    width: 100%;
     font-size:12px;
     height:23px;
}
.product-other-details span input 
{
	width:100%
}
.amount-calculation p
{
	font-size:12px;
}
    .amount-calculation p span, .total-amount span {
    float: right;

    span
    {
    float:left;
    }
}

.total-amount {
    
    font-size: 12px;
    margin-bottom: 30px;
    font-weight:bold;
}
ul
{
	list-style: none;
    padding-left: 0px;
	li
	{
		float:left;
		margin-right:5px;
		a
		{
		    margin: 0px 5px 2px 5px;
    font-size: 12px;
    color: #646464;
    border-bottom: 1px solid #646464;
		}
	}
}
a
{
	display:block
}

}

.product-block:first-child
{
	border-top:0px;
	padding-top:0px;

}

.product-block-wrap
{
	margin-top:30px;
}
.update-wrap
{
	margin-bottom:30px;
}

.apply-coupon
{
 margin-left: -6px;
}


.confirm-order-wrap input 
{
	    position: absolute;
    /* margin-right: 23%; */
    margin-left: 48%;
    margin-top: 1px;
}