.floral-text {
  span:before, span:after {
    position: relative;
    top: 7px;
  }
  span:before {
    content: image-url('floral-left.jpg');
  }
  span:after {
    content: image-url('floral-right.jpg');
  }
}

.hover-container {
  .hover-content {
    display: none;
  }
  &:hover {
    .hover-content {
      display: block;
    }
  }
}

.blak-border {
  border: 2px solid $brand-primary;
}

.icon {
  font-size: $font-size-large;
  margin-right: 0.5em;
  vertical-align: middle;
}

.info-row {
  border: none;
  width: 100%;
  border-top: 1px solid $gray-lighter;
  padding: $line-height-computed/2 0;
  font-family: $font-family-serif;
  &.active {
    background: $brand-primary;
    color: #ffffff;
  }
  &:last-child {
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: $line-height-computed;
  }
}