.dresses {
  .dress-preview {
    margin-bottom: $line-height-computed;
  }
}

.tabbable.customisation-tab > .tab-content > .tab-pane {
  overflow-y: auto;
}

.fabric_name {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.pattern_div {
  width: 50px;
  height: 70px;
  margin-bottom: 5px;
  margin-right: 5px;
  cursor: pointer;
  float: left;
  display: inline-block;
}

.pattern_div img {
  width: 100%;
}

.pattern_div p {
  text-align: center;
  font-size: 9px;
}

#colors {
  float: left;
}

#material img {
  width: 100%;
}

.svg {
  display: none;
}

.svg.active {
  display: block;
}

.board {
  float: left;
}

svg {
  position: absolute;
  width: 100%;
  left: -500px;
  top: -500px;
}

#material img {
  cursor: pointer;
}

#frontview {
  left: 0px;
  top: 0px;
}

.imageRotateHorizontal {
  -moz-animation: spinHorizontal .8s linear;
  -o-animation: spinHorizontal .8s linear;
  -webkit-animation: spinHorizontal .8s linear;
  animation: spinHorizontal .8s linear;
}

@keyframes spinHorizontal {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

#embellishment img {
  border: 1px solid black;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.group {
  display: none;
}
