.hero-section {
  position: relative;
  color: #ffffff;
  .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
  }
  h1 {
    font-size: $jumbotron-heading-font-size * 2/3;
    margin-bottom: $line-height-computed;
  }
  p {
    margin-bottom: $line-height-computed;
    line-height: 1.8;
  }
  a {
    border: 2px solid #ffffff;
    display: inline-block;
    padding: 5px;
  }
  .btn {
    background: #ffffff;
    font-family: $font-family-serif;
    letter-spacing: 3px;
    font-size: $font-size-base;
    padding: $line-height-computed/2 $grid-gutter-width/2;
  }
}

@media screen and (max-width: $screen-sm-max) {
  .hero-section {
    h1 {
      font-size: $font-size-h1;
    }
  }
}

@media screen and (max-width: $screen-xs-max) {
  .hero-section {
    h1 {
      font-size: $font-size-h4;
      margin-bottom: $line-height-computed/2;
    }
    p {
      margin-bottom: $line-height-computed/2;
      line-height: inherit;
    }
  }
}

.icon-blocks-container {
  margin: $line-height-computed*2 0;
  .icon-block {
    .icon {
      height: 100px;
      img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
}

#promos {
  margin-bottom: $line-height-computed;
  .item img {
    width: 100%;
  }
}

.latest-trends {
  margin-bottom: $line-height-computed * 2;
}

.news-letter {
  background-color: #f5f5f5;
  height: 190px;
  text-align: center;
  padding: $line-height-computed;
}

