#page-header {
border-top: 5px solid $brand-primary;
.navbar-collapse {
padding: 0;
}
}
#response{
  color:#a94442;
}

.top-bar {
.navbar-collapse {
border-bottom: 1px solid $input-border;
}
.navbar-form:first-child {
padding-left: 0;
}
.cart-details {
padding-top: 4px;
margin-left: $grid-gutter-width;
i {
font-size: $font-size-base * 2;
vertical-align: middle;
}
}
.form-control:focus {
border-color: $input-border;
}
}

.logo {
margin-bottom: $line-height-computed;
}

.main-menu .navbar-nav {
text-align: center;
width: 100%;
text-transform: uppercase;
li {
float: none;
display: inline-block;
&.active a {
background: none;
color: $navbar-default-color;
}
&.active a:hover, a:hover {
background: $gray-lighter;
color: $gray-dark;
}
&.open>a
{
background: $gray-lighter !important;
color: $gray-dark !important;
}
&.dropdown:hover
{
background: $gray-lighter;
.dropdown-menu
{
display:block;
}
}
.dropdown-menu
{
li
{
display:block;
a
{
//font-size:13px;
}
}
}
}
}

.page-title {
margin-bottom: $line-height-computed * 2;
}

.page-title.product-name
{
  margin-bottom:15px !important;
}

.page-footer {
border-top: 3px solid $brand-primary;
font-size: $font-size-small;
font-family: $font-family-serif;
font-weight: 300;
padding-top: $line-height-computed;
}

.footer-nav, .footer-contact {
margin-top: $line-height-computed * 1.5;
}

.footer-nav li {
padding: $line-height-computed/4 0;
}

.follow-us i {
font-size: $font-size-large;
border: 2px solid $brand-primary;
width: 40px;
padding: 0 4px;
display: inline-block;
text-align: center;
margin: 0 $grid-gutter-width/4;
&.first {
margin-left: 0;
}
}

/*ul.navdrop li {
background: #555; 
display: block; 
color: #fff;
text-shadow: 0 -1px 0 #000;
}
ul.sub-menu{
display:none;
position: absolute;
padding-left: 0px;
z-index: 100000;
background-color: #fff;
box-shadow: 0px 0px 5px #888888;
font-size: 13px;
}

ul.navbar-nav li:hover ul.sub-menu{
display: block;
}*/

.visible-xs
{
.navbar{
margin-bottom:0px;
}
.navbar-collapse{
padding-left:15px !important;
padding-right:15px !important;
}

.navbar-toggle
{
border:0px;
padding: 4px 10px;
z-index:1;
}
.navbar-toggle:hover,.navbar-toggle:focus
{
background-color:initial;
}

.cart-details, .user-log
{
padding:9px;
i
{
color:#fff;
font-size: 24px;
margin-right:0px;

}
}
.navbar-nav > li > a{
text-transform:uppercase;
}
#btnsearch{
border:none;
color:#fff;
z-index:2;
cursor:pointer;
outline:0;
top:0;
}
input[type=submit]:hover{background:rgb(224, 145, 0)}

input[type=search]{
width:0;
position:absolute;
z-index:1;

top:0;
border:0px;
outline:0;
}

#search_container {
width:100%;
margin-top:9px;
position:absolute;
overflow:hidden;
left:calc(60px - 100%);
float:left;
input:focus{
    border:0px;

}

.ion-ios-search
{
    float:right;
     height:34px;
}
}

#search_container.active
{

    .ion-ios-search
    {
      background:#fff;
      color:gray;
     
      float:right;
    }
}

#hint {margin-top:50px;font-family:arial;font-size:15px;color:#444}


.search-icon {
position: relative;
left: -30px;
color: white;
cursor: pointer;
}

.searchbar-wrap{
float:left;
width:150px;
}
.input-group{
margin-left:0px;
}
.home_searchbar_btn{
background-color:transparent;

border:0px;
i{
color:white;
font-size:24px;
}
}

.price-conversion{
width:100%;
float:left;
padding-right: 15px;
.navbar-left{
float:right;
width:auto;

}

}

.sort-by-list {
position: absolute;
z-index: 100;
background: #fff;
width:auto;
right:0px;
margin-left: -8px;
border: 1px solid $input-border;
padding-left: 8px;
padding-right: 8px;
top: 62px;
box-shadow: 0px 3px 5px $brand-primary;

ul {
list-style-type: none;
padding-left: 0px;
font-size: $font-size-small;

li {
padding-top: 8px;
padding-bottom: 8px;

a {
&:hover {
color: #ccc;
}
}
}

}

}
#btnsearch{
color:white;
font-size:24px;
}


}
#search-msg{
    color:#a94442;
    font-family:"Roboto Slab", Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    text-align: center;
    padding-left:20px;
    font-style:normal;

}
#msg{
    color: #a94442;
    font-family:"Roboto Slab", Georgia, "Times New Roman", Times, serif;
    font-size: 12px;
    font-style:normal;
}
.mob-drop{
text-transform:uppercase;
}


.login-wrap,.reg-wrap
{
  width:48% !important;
}

.vertic-line
{
    position: relative;
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}
.verticel-line{
  position:absolute;
  width:2px;
  border-left:1px solid;
  height:100%;


}

.verticel-line-or
{
      background: #fff;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertic-line-wrap
{
      display: flex;
}

.login-reg-wrap
{
   display: flex;
}

#standard-size-wrap p {
    width: auto;
    float: left;
    margin-right: 18px;
}
#standard-size-wrap p input[type="radio"] {
    margin-top: 2px;
    float: left;
    margin-right: 10px;
}