img {
  max-width: 100%;
}

a:hover {
  text-decoration: none;
}

.form-control, .form-control:focus {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
}

.input-group-btn .btn {
  border: 1px solid $input-border;
}

.navbar-default {
  background: #ffffff;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $brand-primary;
  font-family: $font-family-serif;
}

.nav-stacked {
  li {
    border-bottom: 1px dashed $brand-primary;
    &:hover, &.active {
      border-bottom: 1px solid $brand-primary;
    }
    a {
      padding-left: 0;
      padding-right: 0;
    }
    a:hover {
      background: #ffffff;
    }
    i {
      font-size: $font-size-large;
      margin-right: $grid-gutter-width/2;
      vertical-align: middle;
    }
  }
}

.btn {
  font-family: $font-family-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.navbar-form .input-append {
  margin-top: 0;
}