.add-to-cart-block {
  margin-bottom: $line-height-computed;
}
#size-error{
  color: #a94442;
}

.product-details {
  .price {
    font-size: $font-size-h2;
    font-family: $font-family-serif;
    margin-bottom: $line-height-computed;
  }

}

.product-preview {
  padding-bottom: $line-height-computed*2;

  img {
    width: 100%;
  }
  .details {
    position: relative;
    background: rgba(255, 255, 255, 0.7);
    .action-row {
      position: absolute;
      padding: $line-height-computed/3 $grid-gutter-width/3;
      background: #ffffff;
      border-top: 1px solid $gray-lighter;
      border-bottom: 1px solid $gray-lighter;
      right: 0;
      left: 0;
      z-index: 10;
      &.top {
        top: -50px;
      }
      &.bottom {
        bottom: -50px;
      }
    }
  }
}

label.size {
  margin-right: 0.5em;
}

.product-filter {
  border-top: 1px solid $brand-primary;
  padding-top: 15px;
  ul, .product-price-flt {
    margin-bottom: 25px;
    list-style-type: none;
    padding-left: 0;
  }
  a:focus {
    text-decoration: none
  }
  label {
    text-transform: capitalize;
    font-family: $font-family-serif;
    font-size: $font-size-small;
    color: #666;
    &:hover {
      color: $brand-primary;
    }
  }
  h4 {
    text-transform: uppercase;
    font-size: 14px;
    color: $brand-primary;
    .clear-filters {
      color: #666;
      font-size: $font-size-small;
      text-transform: capitalize;
      cursor: pointer;
      font-weight: normal;
      &:hover {
        text-decoration: underline
      }

      &:focus {
        text-decoration: underline
      }
    }
  }
  .product-box {
    border-top: 1px solid #ccc;
    padding-top: 15px;
    &:first-child {
      border-top: none;
    }
  }
}

.products {
  border-top: 1px solid $brand-primary;
  padding-top: 25px;
}

/*.user-log {
  border: 1px solid #ccc;
  font-family: $font-family-serif;
  cursor: pointer;
  position: relative;
  padding: 8px;
  a {

    font-size: $font-size-small;
    &:focus {
      text-decoration: none;
    }
    span.sort_box {
      color: #999;
      margin-right: 8px;
    }

  }
  .drop-down-arrow {
    margin-left: 8px;
    border-left: 1px solid #ccc;
    i {
      padding-left: 8px;
      font-size: 18px;
    }
  }
 
}*/

.product-filter-count {
  float: left;
  h4 {
    margin-bottom: 15px;
  }
  .filter-count {
    color: #666;
    font-size: $font-size-small;
    margin-top: 11px;
    margin-left: 5px;
  }
}

.product-search {
  margin: 0 auto;
  float: none
}

#gallery_01 img{border:2px solid white;}
//.active img{border:2px solid #333 !important;}

.product-tabs
{
  margin-top:15px;
  .product-content-tabs
  {
  
    padding:30px 15px 15px 15px;
    border: 1px solid #ddd !important;
   
  }

   .nav
   {
     li
     {

       &.active a, &.focus a
       {
          color: #555555;
          background-color: #fff;
          border: 1px solid #ddd !important;
          border-bottom-color: transparent;
          cursor: default;
        }

        a
        {
           text-transform: uppercase;
        }
        
     }

   }

   .top-review-list
   {
     padding:20px 30px 20px 30px;
     margin-bottom:30px;
     border-bottom:1px dotted #ddd;
     .media
     {
       .media-left
       {

         a{

           img{
                float: left;
                padding: 3px;
                width: 32px;
                height: auto;
                background: #f7f6f7;
                border: 1px solid #f0eef0;
                margin: 0;
                line-height: 1;
                margin-right:20px;
             }
         }
       }

       .media-body
       {
          
          border: 1px solid #f0eef0;
          padding:15px;

          .comment-writer-info
          {
            margin-bottom:15px;
            float:left;
            width:100%;

            span
            {
              font-size:12px;
            }
          }
       }
     }
   }

   .write-reviews
   {
     #rev-msg{
       color: #a94442;
       font-weight:normal;
     }

   }

}

.jslider-pointer
{
    width: 14px !important;
    height: 14px !important;
    background-color: #D3649F !important;
    border-radius: 50%;
    border: none !important;
    cursor: pointer !important;
    top: 50% !important;
    margin-top: -7px !important;
    background-image:none !important;
    margin-left:0px !important;
}

.jslider
{
       background-color: #b2b2b2;
       height: 2px !important;
       width:95% !important;
}

.jslider .jslider-bg i
{
   background-image:none !important;
}

.jslider .jslider-bg .v
{
   background-color: #D3649F !important;
    height: 2px !important;
    background-image:none !important;
}

.jslider .jslider-value
{
      top: -22px !important;
}
.hover-content{
  display: block !important;
}

.add-to-cart-block
{
  .select-size
  {
    width:80px;
    float: left;
    margin-right:8px;
  }
  .size-guide
  {
  font-size:11px;
  }
  .size-wrap
  {
    >div
    {
      width: 100%;
     display: flex;
    }
     .size-guide
     {
       align-self: flex-end;
       a{
        text-decoration:underline;
       }
     }
  }
}

.product-desc-wrap
{
  margin-top:30px;
  margin-bottom:30px;
  h4
  {
    font-size:14px;
  }
}