
$complete: #2ECC71;
$active: #3498DB;
$mute: #DFE3E4;
.shipment-wrap
{
	.shipment-detail
	{
	  .process-title
	  {
	     border-bottom:2px solid #909090;
	     padding-bottom:15px;
	  }
	  .shipped-product-details
	  {
	    border:1px solid #555555;
	    float:left;
	    width:100%;
	    padding-top: 15px;
    	padding-bottom: 15px;


	    .ordered-img
	    {
    		border: 1px solid;
    		
	    }
	    .prd-desc
	    {
	    	 border-right:1px solid #919191;
	    	 display:table;
		    .ordered-product-name
		    {
		      vertical-align: middle; 
		      display:table-cell;
		      h4
		      {
		        font-size:14px;
		        margin-top:0px;
		        letter-spacing: 2px;
	    		line-height: 1.4;
	    		color:$brand-primary;
		      }
		    }
		  }
		  .prd-dtl
		  {
		  	border-right:1px solid #919191;
		  	display: table;
		    table
		    {
		    	width:100%;
		    	border-collapse: separate;
    			border-spacing: 0 10px;
    			margin-top: -15px;
    			vertical-align: middle;
                display: table-cell;
                tbody
                {
                	display: table;
                	width: 100%;
                 }
	             tr td
               
			    {
			      margin-bottom:5px;
	              border-bottom:1px solid #919191;
	              
			    }
		    }
		  }
		 .orderd-price-wrap
		 {
		    padding:0px;
		    display: table;
			 	.orderd-price
			 {
			   color:$brand-primary;
			   font-weight:bold;
			   display: table-cell;
    		   vertical-align: middle;
			  
			 }
		 }
		 
	  }
	}
	.order-tracking
	{
	   margin-bottom:100px;
	   width: 100%;
       float: left;
       h5
       {
         text-transform:uppercase;
       }

       .product-tracking
       {
         margin-top:15px;
         width:100%;
         float:left;
         .progress {
			  list-style: none;
			  margin: 0;
			  padding: 0;
			  display: table;
			  table-layout: fixed;
			  width: 100%;
			  background:none;
			  box-shadow:none;
 			 > li {
			    position: relative;
			    display: table-cell;
			    text-align: center;
			    font-size: 0.8em;
			    
			    &:before {
			      content:'';
			      display: block;
			      margin: 0 auto;
			      background: #FFF;
			      width: 2em;
			      height: 2em;
			      text-align: center; //IE8 doesn't inherit this style
			      margin-bottom: 0.25em;
			      line-height: 3em;
			      border-radius: 100%;
			      position: relative;
			      z-index: 1000;
			      border: 3px solid $brand-primary;;
			    }
			    &:after {
			      content: '';
			      position: absolute;
			      display: block;
			      background: $mute;
			      width: 100%;
			      height: 2px;
			      top: 10px;
			      left: 50%;
			      margin-left: 1.5em\9;
			      z-index: -1;
			    }
			    &:last-child:after {
			      display: none;
			    }
			    &.is-complete {
			      color: $complete;
			      
			      &:before,
			      &:after {
			        color: #FFF;
			        background: $complete;
			      }
			    }
			    &:hover {
				      i
				      {
				       color:#fff;
				       background:$brand-primary;
				      }
			      }
			    i{
			   
				    padding: 5px;
				    color:#ddd;
				    cursor:pointer;
				    &.fa-2x
				    {
				     font-size:1.5em;
				    }
				    }
				 
			  }
			  

			}
			.hover-product-traking
			{
			  position: absolute;
              background-color: #fff;
              width: 100%;

			  >div
			  { 
			  	padding:0px;
			  }
		  .approving-status, .processing-status,.shipping-status, .delivery-status {
		    border: 1px solid $brand-primary;;
		    position: relative;
		    float: left;
		    padding: 15px;
		    left: 42%;
		    color:$brand-primary;
		    font-weight:bold;
		   
		    .approving-date, .shipping-date, .delivery-date
			    {
                    border-right: 1px solid #919191;
                    padding-right:15px;
                    float:left;
                    text-transform:uppercase;
				}
			 .approving-sts, .shipping-sts, .delivery-sts
				 {
				   float:left;
				   padding-left:15px;
				 }

		    }
		    .processing-status
		    {
		     left:38.5%;
		    }

		    .shipping-status
		    {
		     left:35%;
		    }

		    .delivery-status 
		    {
		      left:32%;
		    }



		   
		   }
       }
	}
}
.continue-shop{
	margin-bottom:10px;
}


i.hover
{
	color:#fff !important;
	background:$brand-primary;
}
