= simple_form_for([:admin, @user]) do |f|
  = f.error_notification

  .form-inputs.row
    .col-sm-6
      = f.input :name
      = f.input :email
      = f.input :image
      = image_tag @user.image_url(:thumbnail) if @user.image?
      = f.hidden_field :image_cache
    .col-sm-6
      = f.input :password
      = f.input :password_confirmation
      = f.input :mobile
      = f.association :roles, collection: Role.all, as: :check_boxes

  = f.button :submit
