- content_for :title do
  |Users

- content_for :panel_heading do
  = link_to 'New User', new_admin_user_path, class: 'btn btn-success'

table.table.table-responsive.table-striped
  thead
    tr
      th Name
      th Email
      th colspan="2" Actions

  tbody
    - @users.each do |user|
      tr
        td = user.name
        td = user.email
        td = link_to 'Edit', edit_admin_user_path(user)
        td = link_to 'Destroy', admin_user_path(user), data: {:confirm => 'Are you sure?'}, method: :delete

= paginate @users
