- content_for :title do
  |Shipping Details

.row
  .col-md-4.col-lg-3= render 'accounts/sidebar'
  .col-md-8.col-lg-9.shipment-wrap
    h4.floral-text.text-uppercase.text-center.page-title
      span Shipping details
    .shipment-detail
      .order-tracking
        h4.process-title ORDER STATUS
        .col-md-3.text-center
          h5 approving
          img src="/assets/tracking-line.jpg"
        .col-md-3.text-center
          h5 processing
          img src="/assets/tracking-line.jpg"
        .col-md-3.text-center
          h5 Shipping
          img src="/assets/tracking-line.jpg"
        .col-md-3.text-center
          h5 Delivery
          img src="/assets/tracking-line.jpg"
        .product-tracking
          ol.progress
            li#approve
              i.fa.fa-chevron-down.fa-2x
            li#process
              i.fa.fa-chevron-down.fa-2x

            li#shipping
              i.fa.fa-chevron-down.fa-2x
            li#delivery
              i.fa.fa-chevron-down.fa-2x

          .hover-product-traking
            .col-md-3
              .approving-status.text-center.hidden
                .approving-date
                  |Jun, 12
                  br
                  |2015
                .approving-sts
                  |order approved
            .col-md-3
              .processing-status.text-center.hidden
                |order processing
            .col-md-3
              .shipping-status.text-center.hidden
                .shipping-date
                  |Jun, 12
                  br
                  |2015
                .shipping-sts
                  |item shipped
            .col-md-3
              .delivery-status.text-center.hidden
                .delivery-date
                  |Jun, 12
                  br
                  |2015
                .delivery-sts
                  |order delivered

        h4.process-title PRODUCTS ORDERED
        .shipped-product-details
          .col-md-2.ordered-img-wrap
            img.ordered-img alt=("Medium any") src="/uploads/product/image/16/medium_any.jpeg"
          .col-md-5.text-center.prd-desc
            .ordered-product-name
              h4 Harum adipisci voluptatum inventore unde tempora aut occaecati.(#15)
          .col-md-3.prd-dtl
            table
              tr
                td Quantity
                td 1
              tr
                td Color
                td Pink
              tr
                td Size
                td S
          .col-md-2.orderd-price-wrap.text-center
            .orderd-price
            |TOTAL AMOUNT
            br
            span ₹ 1000
      /= @track_details.to_json
      br
      /=@asd.to_json
    - @asd['data']['tracking']['checkpoints'].each do |value| 
        /label Location:
        /= value['location']
        /br
        /label Country:
        /= value['country_name']
        /br
        /label Created at:
        /= value['created_at']
        /br
        /label Tag:
        /= value['tag']
        /br
        /label Message:
        -if (value['tag'])=='InfoReceived'
          img src="/assets/icons-status-01.png"
          =value['tag']
        -elsif (value['tag'])=='InTransit'
          img src="/assets/icons-status-02.png"
          =value['tag']
        -elsif (value['tag'])=='AttemptFail'
          img src="/assets/icons-status-04.png"
          =value['tag']
        -elsif (value['tag'])=='Delivered'
          img src="/assets/icons-status-05.png"
          =value['tag']
        -elsif (value['tag'])=='OutForDelivery'
          img src="/assets/icons-status-03.png"
          =value['tag']
        -elsif (value['tag'])=='Exception'
          img src="/assets/icons-status-00.png"
          =value['tag']
        -elsif (value['tag'])=='Expired'
          img src="/assets/icons-status-00.png"
          =value['tag']
        -elsif (value['tag'])=='Pending'
          img src="/assets/icons-status-00.png"
          =value['tag']
        -else
          /img src="/assets/icons-status-00.png"
        br
        

       
       	

