- content_for :title do
  |My Customisations

.row
  .col-md-4.col-lg-3.searchwidth= render 'accounts/sidebar'
  .products.mylikes.col-md-8.col-lg-9.imagewidth
    h4.floral-text.text-uppercase.text-center.page-title
      span My Customised Dresses
    - if @customises
      - if @customises.empty?
        .custempty.text-center
          h4.text-center You have no items in your list
          = link_to 'Customise Dress', :customise_index, class: 'btn btn-primary'
      - else
        - @customises.each_slice(3) do |row|
          .row
            - row.each do |c|
              .col-md-4.col-sm-4.text-center
                .product-preview.hover-container
                  = image_tag c.image_url(:preview)
                  .details
                    .action-row.top.clearfix.hover-content
                      a href="#{customised_dress_path(:id => c.id,:customises => @customises)}" data-method ="delete" rel="nofollow"
                        i.icon.ion-trash-b
                        |Delete &nbsp;&nbsp;&nbsp;
                        i.icon.ion-wand
                      a href="#{customise_path(c.dress,customisation_id: c.id)}"
                        |Customise
    = paginate @customises

        /
        /a href="#{ customised_dress_path(:id => c.id)}" data-method ="delete" rel="nofollow"
        /  i.icon.ion-ios-heart
        /  |Delete