- content_for :title do
  = @user.name

.row
  .col-md-4.col-lg-3= render 'sidebar'
  .col-md-8.col-lg-9
    = simple_form_for @user, url: account_path do |f|
      .row
        .col-sm-6
          = f.input :name
          = f.input :email
          = f.input :password
          = f.input :password_confirmation

        .col-sm-6
          = f.input :date_of_birth, as: :date, :start_year => Time.now.year,
                    :end_year => 1900,
                    :order => [:month, :day, :year]
          = f.input :gender, collection: User::GENDERS, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes
          = f.input :image
          = f.hidden_field :image_cache
          = image_tag @user.image_url(:thumbnail), class: 'img-thumbnail' if @user.image?
      hr
      h5.text-uppercase Billing Address
      = f.simple_fields_for :billing_address do |b|
        .row
          .col-md-12
            = b.input :name, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Name'}
          .col-md-12
            = b.input :address_1, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Billing Address'}
        .row
          .col-md-12
            = b.input :address_2
        .row
          .col-md-6
            = b.input :city, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct City Name'}
          .col-md-6
            = b.input :state, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct State Name'}
        .row
          .col-md-6
            = b.input :country, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Country Name'}
          .col-md-6
            = b.input :postal_code
      hr
      h5.text-uppercase Shipping Address
      .checkbox
        label
          input#copy-billing-user[type="checkbox"] Same as Billing Address
      = f.simple_fields_for :shipping_address do |s|
        .row
          .col-md-12
            = s.input :name, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Name'}
          .col-md-12
            = s.input :address_1, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Shipping Address'}
        .row
          .col-md-12
            = s.input :address_2
        .row
          .col-md-6
            = s.input :city, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Shipping City'}
          .col-md-6
            = s.input :state, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct State'}
        .row
          .col-md-6
            = s.input :country, :input_html => {:'data-validation' => 'required', :'data-validation-error-msg' => 'You have not given correct Country'}
          .col-md-6
            = s.input :postal_code
            
      = f.submit 'Update', class: 'btn btn-primary'